<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haeseong.nplusone">

    <application>
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
